POSTGRES_DB="stemlab"
POSTGRES_USER="stemlab_app"
POSTGRES_PASSWORD="replace_with_a_long_random_password"
HTTP_PORT="8080"
VITE_PUBLIC_VIEWER_MODE="false"
PRINTER_OFFLINE_GRACE_SECONDS="30"
PRINTER_POLL_INTERVAL_MS="5000"
PRINTER_REQUEST_TIMEOUT_MS="3000"
APP_BASIC_AUTH_USERNAME="admin"
# SHA-256 hex of the Basic Auth password. Generate with:
# node -e "console.log(require('node:crypto').createHash('sha256').update(process.argv[1]).digest('hex'))" "your-password"
APP_BASIC_AUTH_PASSWORD_SHA256="replace_with_sha256_hex_password_hash"
VITE_GOOGLE_SHEET_QUEUE_URL="https://docs.google.com/spreadsheets/d/13CZxAD8lctUtJEcVHH-qUHKNIJY0ENxcxPP-DwNgelE/edit?usp=sharing"
VITE_GOOGLE_FORM_URL="https://docs.google.com/forms/d/e/1FAIpQLSdRR27bQDytT0xJNa2z6YSqksiclxtgoKxbaY-uANlAZGgeag/viewform?usp=dialog"
